<app-navbar></app-navbar>

<div class="p-2">
  <div class="row">
    <div class="col-sm-2">
      <div class="card"  (click)="detailsDeveloper(1)">
        <img class="card-img-top" src="https://instagram.fscl1-1.fna.fbcdn.net/vp/d0f9fce7ef4207f1434837fa67622921/5C7BAFAB/t51.2885-15/e35/c101.0.547.547/s320x320/43913380_633175770417744_4624529321967335388_n.jpg" alt="Card image cap">
        <div class="card-body">
          <h2 class="card-text">Desarrollador Front End</h2>
          <p class="card-text">Experto en desarrollo front end con Angular</p>
        </div>
      </div>
    </div>
    <div class="col-sm-10">
      <div class="row">
        <div class="col-12 mb-3">
          <div class="card text-center">
            <div class="card-header">
              Skilss
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-4">
                  <label >Angular</label>
                  <div class="progress" style="height: 20px;">
                    <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="col-4">
                  <label >Javascript</label>
                  <div class="progress" style="height: 20px;">
                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="col-4">
                  <label >Python</label>
                  <div class="progress" style="height: 20px;">
                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="card text-center">
            <div class="card-header">
              Pair Programming
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-4">
                  Felipe
                </div>
                <div class="col-4">
                  Oscar
                </div>
                <div class="col-4">
                  Gabriel
                </div>
                <div class="col-4">
                  Aldrin
                </div>
                <div class="col-4">
                  Alvaro
                </div>
                <div class="col-4">
                  Claudio
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row mt-2">
    <div class="col-2">
      <div class="card" >
        <div class="card-body">
          <h5 class="card-title">Póximas citas</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Oscar - Felipe (Prox - Lunes)</li>
            <li class="list-group-item">Gabriel - Chamo (Prox - Martes)</li>
            <li class="list-group-item">Aldrin - Daniela (Prox - Jueves)</li>
            <li class="list-group-item">Oscar - Clauido (Prox - Viernes)</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>