<app-navbar></app-navbar>
<div class="contenedor p-2">
  <div class="card" style="width: 18rem;"  (click)="detailsDeveloper(1)">
    item: {{list | json}}
    <img class="card-img-top" src="https://instagram.fscl1-1.fna.fbcdn.net/vp/d0f9fce7ef4207f1434837fa67622921/5C7BAFAB/t51.2885-15/e35/c101.0.547.547/s320x320/43913380_633175770417744_4624529321967335388_n.jpg" alt="Card image cap">
    <div class="card-body">
      <h2 class="card-text">Desarrollador Front End</h2>
      <p class="card-text">Experto en desarrollo front end con Angular</p>
    </div>
  </div>
</div>
